.holdAll {
  width: 100%;
  padding: 10px;
}

.holdImage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}
.holdForm {
  margin-top: 2em;
  padding: 2em;
}

.holdButin {
  display: flex;
  justify-content: flex-end;
}
