
#c--2 {
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.dr1 {
  display: none;
}

@media only screen and (min-width: 480px) {
  #c--2 {
    flex: 70% 1;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    height: 90vh;
    padding: 0 40px;
  }

  .dr1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #030a78;
    width: 50%;
    height: 90vh;
  }

  .contr-3 {
    height: 100vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    margin: auto;
  }
}


.emil{
  margin-bottom: 9em;
}

.but{
  background-color: white;
  border: none;
}