
#c--2 {
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.dr1 {
  display: none;
}

@media only screen and (min-width: 480px) {
  #c--2 {
    flex: 70% 1;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    height: 90vh;
  }

  .dr1 {
    display: block;
    background-color: #030a78;
    width: 50%;
  }

  .contr-3 {
    display: flex;
    padding: 2.5% 0;
    max-width: 70%;
    margin: auto;
  }
}
