#H1 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: #030a78;
  text-align: center;
  padding-top: 20px;
}

#f-3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 5%;
}

.l-1 {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  width: 100%;
  line-height: 140%;
  gap: 5px;
  color: #030a78;
}

.l-2 {
  display: flex;
  justify-content: space-between;
}

.i-1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;

  /* or 21px */

  color: #4f54a1;
  height: 3vh;
  border: 0.949949px solid #f0f0f7;
  border-radius: 4px;
  padding-left: 8px;
}

.l-3 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  gap: 5px;
  text-transform: capitalize;
  align-self: center;
  color: #030a78;
}

#b-r {
  background: #030a78;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  font-size: 12px;
  height: 3vh;
  border-style: none;
  margin-top: 20px;
}

.fo-1 {
  display: flex;
  justify-content: center;
}

.contr-1 .input {
  padding-left: 16px;
}

.l-4 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  padding: 0;
  line-height: 140%;
  gap: 5px;
  text-transform: capitalize;
  align-self: center;
  color: #030a78;
  display: inline-block;
}

.fo-p {
  font-weight: 400;
  font-size: 14px;
  color: #4f54a1;
}

#img-7 {
  margin: auto;
  display: block;
  padding-top: 20px;
  width: 20%;
}

#c--1 {
  overflow-y: hidden;
  overflow-x: hidden;
}

.pdw {
  display: none;
}

.dr {
  display: none;
}

.haw {
  display: none;
}

.dr h5 {
  font-family: 'Inter', sans-serif;
}

@media only screen and (min-width: 480px) {
  .contr {
    display: flex;
    padding: 2.7% 0;
    max-width: 70%;
    margin: auto;
  }

  .pdw {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    text-align: center;
    color: #4f54a1;
    margin: auto;
    padding: 0% 20% 5% 20%;
  }

  #f-3 {
    align-items: center;
  }

  .dr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #030a78;
    font-size: 18px;
    max-width: 50%;
  }

  .b-r {
    width: 100px;
    background-color: #ffff;
    height: 100px;
    align-self: center;
    justify-self: center;
  }

  #c--1 {
    flex: 70%;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  }

  .i-1 {
    height: 40px;
    width: 100%;
  }

  .ll1 {
    text-align: start;
  }

  #fn {
    text-align: start;
  }

  .l-2 {
    justify-content: space-around;
    margin: 10px 0;
    gap: 100px;
  }

  #b-r {
    height: 5vh;
    width: 70%;
    align-self: center;
    margin-top: 0;
  }

  .l-1 {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    width: 100%;
    line-height: 140%;
    gap: 5px;
    color: #030a78;
  }

  #H1 {
    font-size: 26px;
  }

  h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 120%;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
  }

  .pd {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #f5f7f9;
    margin: 0;
    padding: 0 10%;
  }

  #img-7 {
    display: none;
  }

  .haw {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 10px;
  }

  .bwa {
    height: 27px;
    color: white;
    background-color: #030a78;
    border-radius: 5px;
    border-style: none;
    padding: 2px 20px;
    font-size: 14px;
    font-weight: 500;
  }

  .aw {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #030a78;
    font-size: 14px;
  }
}
