.ppw {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  padding: 0 20%;
  text-align: center;
  color: #4f54a1;
}

// My Registration Styles Starts Here

.holdAll {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: scroll;
}

.holdFormNText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 80%;
  max-width: 1241px;
  box-shadow: 5px 5px 5px #ddd, -5px -5px 5px #ddd;
}

.holdText {
  width: 50%;
  height: 100%;
  background-color: #030a78;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;

  img {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
  }

  h3 {
    color: white;
    margin: 20px 0;
  }
}

.holdForm {
  width: 50%;
  height: 100%;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2em;
 color: #030968;
  .holdImage {
    display: none;
  }

  .headerText {
    text-align: center;
    color: #030a78;

    h3 {
      color: #030a78;
    }
  }

  .already {
    text-align: center;
    font-size: 13px;

    a {
      padding: 0 5px;
      color: #030968 !important;
      font-weight: bold;
    }
  }

  button {
    width: 100% !important;
    background-color: #030968 !important;
    border-color: #030968 !important;
  }
}

@media only screen and (max-width: 900px) {
  .holdAll {
    display: flex;
    justify-content: center;
    height: 100vh;
  }

  .holdFormNText {
    height: auto;
    width: 100%;
    margin: 2em 0;
  }

  .holdText {
    display: none;
  }

  .holdForm {
    width: 90%;
    height: auto;
    padding: 20px;
    box-shadow: 5px 5px 5px #c5c5c5, -5px -5px 5px #c5c5c5;
    border-radius: 5px;

    .holdImage {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;

      img {
        height: 50px;
      }
    }

    .headerText {
      text-align: center;
      color: #030a78;

      p {
        font-size: 13px;
      }
    }

    .already {
      display: flex;
      justify-content: center;

      a {
        text-transform: capitalize;
      }
    }
  }
}

// My Registration Styles Ends Here
