.holdAll {
  height: 80vh;
  width: 100%;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 15px;
}

.hold2F {
  width: 60%;

  h3 {
    color: #030a78;
  }
}

@media only screen and (max-width: 900px) {
  .hold2F {
    width: 100%;
  }
}
