.holdAll {
  height: 80vh;
  width: 100%;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 15px;
}

.hold2F {
  width: 40%;

  h4 {
    color: #030a78;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
  }

  p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #4f54a1;
  }

  .holdDetail {
    background-color: #d2d1e8;
    padding: 10px;
    border-radius: 5px;
  }

  .detail {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;

    .detailContent {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 23px;
      color: #4f54a1;
    }

    .detailContents {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 23px;
      color: #030a78;
    }
  }

  .holdBankCard {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}

.activeMe {
  background: #f0f0f7;
  border: 1.5px solid #4f54a1;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.notActiveMe {
  background: white;
  border: 1.5px solid #f0f0f7;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.iconMe {
  margin: 12px;
}

@media only screen and (max-width: 900px) {
  .hold2F {
    width: 100%;
  }
}
