h2 {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 56px;
  color: #030a78;
  text-align: center;
}

h3 {
  font-size: 16px;
}

.body-text {
  display: flex;
  justify-content: center;
  gap: 30px;
  text-align: center;
}

.body-para {
  width: 50%;
}

.body-para h3 {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #1d1e26;
}

.p-11 {
  color: rgba(29, 30, 38, 0.75);
  font-size: 12px;
  line-height: 23px;
}

.body-para .p-11 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(29, 30, 38, 0.75);
}

.s-4 {
  padding-top: 70px;
}

.s-5 {
  padding: 70px  16% 0 16%;
}

.c-2 {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.cc-2 {
  border: 4px solid rgba(29, 30, 38, 0.05);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 15px;
  background-color: #fff;
  width: 27%;
}

@media only screen and (max-width: 425px) {
  /* Small smartphones [325px -> 425px] */
  .cc-2 {
    width: 100%;
  }
}

h4 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 0;
}

.cc-2 h4 {
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.p-5 {
  text-align: center;
  max-width: 200px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 22px;
  padding: 0 20px;
  color: #000;
}

.cc-2 .p-5 {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #1d1e26bf;
  font-weight: 400;
  max-width: 80%;
}

.i {
  width: 230px;
  padding: 20px;
}

.holdMach {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-3 {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding: 5% 36%;
  gap: 32px;
  align-items: center;
  height: 450px;
  background: linear-gradient(0deg, #011223, #011223), #fff;
  margin-left: -6%;
  margin-right: -6%;
  width: 100%;
}

#h4 {
  font-family: 'Mulish', sans-serif;
  margin-bottom: 1em;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 56px;
  text-transform: capitalize;
  color: #fff;
}

.c-3 #h4 {
  font-size: 32px;
  padding: 0;
}

#p-6 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
}

#p-7 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 26px;
  color: #fff;
  text-align: center;
}

.c-3 #p-7 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fff;
}

.be-2 {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 30px 56px !important;
  background: linear-gradient(90deg, #030a78 0%, #2b0990 28.65%, #8e07cd 100%) !important;
  border-radius: 8px !important;
  border: none !important;
  color: white !important;
  font-size: 20px !important;
}

.logoComp {
  width: 65%;
  margin-top: 6em;
}

.UtilityBillers {
  height: 684px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.c-3 #p-6 {
  line-height: normal;
  font-weight: 300;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

.b-2 {
  padding: 0 48px;
  gap: 10px;
  text-align: center;
  width: 241px;
  height: 56px;
  border-style: none;
  color: white;
  font-size: 16px;
  background: linear-gradient(90deg, #030a78 0%, #2b0990 28.65%, #8e07cd 100%);
  border-radius: 8px;
  align-self: center;
}

.b-3 {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  text-align: center;
}

#h-2 {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 56px;
  color: #030a78;
  margin-bottom: 4%;
  margin-bottom: 20px;
}

.u-i {
  width: 50px;
}

.c-4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0 150px;
}

.i-2 {
  background: #fff;
  box-shadow: 0 2px 22px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 32px;
  width: 100px;
  height: 100px;
}

.i-6 {
  width: 50px;
}

#h-5 {
  font-size: 16px;
}

#h-4 {
  padding-top: 50px;
  font-size: 22px;
}

.d-4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  grid-row-gap: 50px;
  padding: 0 300px;
  grid-column-gap: 100px;
}

.c-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-6 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #000;
}

.p-7 {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000;
}

.c-5 .p-6 {
  font-size: 18px;
}

.c-5 .p-5 {
  font-size: 14px;
}

.f-1 {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.in-1 {
  border: 2px solid rgba(29, 30, 38, 0.25);
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 12px;
}

.b-4 {
  padding: 10px 20px;
  color: white;
  font-size: 10px;
  background: #030a78;
  border-radius: 8px;
}

.f-2 {
  display: flex;
  gap: 5vw;
}

#p-8 {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 20px;
  background: linear-gradient(90deg, #030a78 0%, #2b0990 28.65%, #8e07cd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p-9 {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: rgba(29, 30, 38, 0.75);
}

.f-3 {
  display: flex;
  padding: 50px 15px;
  padding: 50px 50px 0 50px;
  gap: 100px;
  justify-content: space-between;
  align-items: center;
}

.im-2 {
  width: 20px;
}

.di-1 {
  display: flex;
  gap: 30px;
  align-self: center;
  font-family: 'Mulish', sans-serif;
  color: #1d1e26;

  /* padding-bottom: 18px; */
}

#p-10 {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  background: linear-gradient(90deg, #030a78 0%, #2b0990 28.65%, #8e07cd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  padding-top: 18vh;
}

.newsletter {
  padding: 8vh 20vw;
  margin: 7em 0;
}

.letter {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 56px;
  color: #030a78;
}

.sign {
  font-family: 'Mulish', sans-serif;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  line-height: 25px !important;
  letter-spacing: 0.02em !important;
  color: #000;
  margin-bottom: 3em;
}

.newsletter input {
  font-size: 14px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  padding: 16px 104px 16px 24px;
  gap: 16px;
  width: 70%;
  height: 73px;
  background: #fff;
  border: 2px solid rgba(29, 30, 38, 0.25);
  border-radius: 8px;
}

.newsletter form {
  margin-top: 21px;
}

.newsletter form button {
  border: none;
  border-radius: 8px;
  padding: 8px 50px;
  font-size: 18px;
  font-family: "Mulish", sans-serif;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footerWith {
  width: 70%;
}

.footerWith2 {
  width: 70%;
}

.body-text2 {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  width: 54%;
  margin-top: 30px;
  justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 475px) {
  #h-2 {
    padding-top: 50px;
    font-size: 20px;
  }

  .s-4 {
    padding-top: 0;
  }

  .body-para h3 {
    width: 100%;
    font-weight: 700;
    font-size: 18px;
  }

  .body-text2 {
    flex-direction: column;
  }

  .body-para {
    width: 100%;
    margin: 0 2%;
  }

  .p-11 {
    font-size: 14px;
    text-align: justify;
  }

  .s-5 {
    padding: 0;
  }

  .c-2 {
    display: flex;
    flex-direction: column;
  }

  .c-3 #h4 {
    font-size: 20px;
  }

  .c-3 #p-6 {
    font-size: 16px;
  }

  .c-3 #p-7 {
    font-size: 14px;
  }

  .c-3 {
    padding: 5% 10%;
    height: 400px;
  }

  .b-3 {
    width: 100%;
  }

  .b-2 {
    /* padding: 0 35px; */
    width: 100%;
    height: 38px;
    font-size: 14px;
    border-radius: 1px;
  }

  .c-4 {
    padding: 0;
  }

  .d-4 {
    display: flex;
    grid-row-gap: 0;
    padding: 0;
    grid-column-gap: 0;
    flex-direction: column;
  }

  .c-5 .p-6 {
    font-size: 13px;
    width: 90%;
  }

  .c-5 .p-5 {
    margin: 0;
  }

  .c-5 {
    padding-top: 50px;
  }

  .newsletter {
    padding: 8vh 6vw;
  }

  .p-7 {
    font-weight: 500;
    font-size: 12px;
  }

  h2 {
    margin-bottom: 0;
  }

  .f-1 {
    flex-direction: column;
    gap: 29px;
  }

  .newsletter input {
    width: 100%;
    height: 34px;
  }

  footer {
    padding-top: 10vh;
  }

  #p-8 {
    font-size: 11px;
  }

  .p-9 {
    font-size: 9px;
    flex: 40%;
  }

  .f-2 {
    flex-wrap: wrap;
  }

  .f-3 {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  #p-10 {
    font-size: 11px;
    text-align: center;
  }

  .di-1 {
    font-size: 14px;
    margin: 0;
    padding-bottom: 16px;
    gap: 16px;
  }

  .im-2 {
    width: 10px;
  }
}

.holdWhy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
