* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  text-decoration: none;
  align-items: center;
}

a {
  text-decoration: none;
}

.ant-image-img {
  width: 100px;
}

.navBar {
  display: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 2% 32px 2%;
}

.l-1 {
  width: 130px;
}

.navList {
  display: flex;
  gap: 50px;
  font-size: 14px;
  color: black;
}

.login {
  background-color: #030a78;
  color: white;
  border-radius: 5px;
  border: 0;
  padding: 12px 28px;
  font-family: 'Mulish', sans-serif;
}

.login a {
  color: white;
}

.nav-link {
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  color: #000;
}

.toggleBtn {
  border: 0;
  background: transparent;
}


.toggleBtn {
  display: none;
}

@media only screen and (max-width: 475px) {
  .container {
    padding: 0;
  }

  #c-1 {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    width: 100%;
    align-items: center;
  }

  .navBar button {
    right: 7%;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    background: transparent;
    border: none;
  }

  .menuNav {
    list-style: none;
    position: fixed;
    background: #030a78;
    bottom: 0;
    height: 0;
    width: 500px;
    overflow: hidden;
    max-width: 500px;
    z-index: 9;
    left: 0;
  }

  .menuNav.showMenu {
    width: 100%;
    height: 100vh;
    padding-left: 28px;
  }

  a {
    display: block;
    padding: 10px 40px;
    text-decoration: none;
    color: #3fffd2;
    text-transform: uppercase;
    font-weight: bold;
  }

  .menuNav li:first-child {
    margin-top: 7rem;
  }

  .des-1 {
    display: none;
  }

  .navBar {
    display: flex;
  }

  .login {
    display: none;
  }

  .showMenu .navList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    padding: 0;
  }

  .showMenu .navList li {
    width: 100%;
  }

  .showMenu .navList .nav-link {
    padding: 0;
    color: #fff;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
    width: 94%;
    padding-bottom: 8px;
  }
  .toggleBtn {
    display: block;
  }
  
}

.d-none {
  display: none;
}

.ml-auto {
  margin-left: auto;
}

.nav-footer {
  display: flex;
  align-items: center;
  padding: 0 2% 32px 2%;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 8vh;
}

.nav-footer #p-10 {
  font-size: 14px;
  color: #fff;
  -webkit-text-fill-color: #fff;
}

.nav-footer .di-1 p {
  color: #f6f6f6;
  font-size: 14px;
}

.nav-footer .di-1 svg {
  color: #f4f4f4;
  font-size: 16px;
}
