.container {
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Mulish", sans-serif;
  flex-direction: column;
}

.card {
  width: 400px;
  margin-top: 4%;
  text-align: center;
}

.image {
  width: 400px;
}
