.lps {
  width: 150px;
  padding-top: 90px;
}

.nop2 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  margin: -20px 0 0 0;
  padding-bottom: 180px;

  /* identical to box height, or 143% */

  color: #030a78;
}

.nop {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;

  /* identical to box height, or 143% */

  color: #030a78;
  margin: 0;
}
