.elec {
  display: flex;
  gap: 90px;
}

.dataf .airtelinn {
  border: 0.948035px solid #edf2f7;
  border-radius: 7.58428px;
  float: left;
  margin-top: 30px;
  display: block;
  margin-left: -89px;
}

.dataf .airteli {
  border: 0.948035px solid #edf2f7;
  border-radius: 7.58428px;
  float: left;
  margin-top: 30px;
  display: block;
  margin-left: -80px;
}

#mp {
  padding-left: -20px;
}
