.check {
    padding-left: 50px;
    gap: 5px;
    display: flex;
}
#lrd {
	font-family: "Mulish", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 13.2725px;
	line-height: 23px;
	color: #030A78;
	text-align: left;
	padding-left: 20px;
	margin-bottom: 0px;
	padding-top: 10px;
}
.listrecei {
    display: flex;
}

.payt{
    background: #F0F0F7;
	width: 400px;
	border-radius: 1.89607px;
	margin: 0px 50px;
    display: flex;
    flex-direction: column;

}

.confirm {
    font-size: 12px;
    font-weight: 400;
    font-size: 10.6904px;
    line-height: 18px;
    
    /* identical to box height, or 170% */
    
    color: #4F54A1;
    margin-bottom: 0px;
    
    
}
