/* @import '~antd/dist/antd.css'; */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;600;700&family=Mulish&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

body {
  margin: 0;
  padding: 0 4%;
  font-family: 'Lato', sans-serif;
}

:root {
  --white: #fff;
  --blue: #030a78;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}