.image {
  width: 100px;
}

.header-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: left;
  color: #030a78;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#H-1 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  font-size: 90px;
  line-height: 113px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  background: linear-gradient(90deg, #8e07cd 0%, #030a78 48.44%, #1d1e26 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 85px;
  margin-top: 40px;
}

.payment {
  background-color: #030a78;
  color: white;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
  border-style: none;
  padding: 15px 60px;
}

.merchant {
  border-radius: 5px;
  padding: 10px 30px;
  background-color: white;
  border-color: rgb(3, 10, 120) rgb(43, 9, 144) rgb(142, 7, 205);
  margin-left: 30px;
  border-width: 5px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #030a78;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.text-container {
  width: 50%;
}

#image-one {
  width: 475px;
}

.logos {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-self: center;
  padding: 20px 0;
}

.landing {
  height: 80vh;
}

.sect {
  max-width: 90%;
  margin: auto;
}

.bod {
  align-items: center;
  display: flex;
  height: 10vh;
  justify-content: center;
  margin-top: 10em;
  margin-bottom: 10em;
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}

// Styling
.slider {
  background: white;
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;

  &::before,
  &::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 300px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(250px * 14);
    background-color: #f0f2f5;
  }

  .slide {
    height: 100px;
    width: 300px;
    background-color: #f0f2f5;
  }
}

.se-1 {
  width: 120px;
  height: 90px;
  background-color: #f0f0f7;
}

.se-2 {
  width: 100px;
  height: 90px;
  background-color: #f0f0f7;
}

.se-3 {
  height: 90px;
  width: 200px;
  background-color: #f0f0f7;
}

.se-4 {
  height: 90px;
  width: 200px;
  background-color: #f0f0f7;
}

@media only screen and (max-width: 475px) {
  .header-text {
    font-weight: 600;
    font-size: 16px;
  }

  .header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
  }

  .text-container {
    width: 100%;
  }

  #image-one {
    width: 350px;
    display: none;
  }

  #H-1 {
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 800;
  }

  .payment {
    margin-bottom: 20px;
    width: 100%;
  }

  .merchant {
    width: 100%;
    margin: auto;
  }

  .bod {
    padding: 10px;
  }

  .se-1 {
    width: 100px;
    height: 70px;
  }

  .se-2 {
    width: 80px;
    height: 70px;
  }

  .se-3 {
    height: 70px;
    width: 180px;
  }

  .se-4 {
    height: 70px;
    width: 180px;
  }

  .slider {
    width: 300px;
    padding-top: 20px;

    .slide {
      width: 200px;
    }
  }
}

.greater {
  color: #030a78;
  margin-left: 20px;
  margin-right: 0;
  font-weight: bolder;
}
