.image {
  width: 100px;
}

.header-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #030a78;
}

h1 {
  font-family: 'Mulish', sans-serif;
  font-size: 60px;
  font-weight: 800;
  letter-spacing: 3px;
  background: linear-gradient(90deg, #8e07cd 0%, #030a78 48.44%, #1d1e26 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.payment {
  background-color: #030a78;
  color: white;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
  border-style: none;
  padding: 7px 30px;
}

.merchant {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 600;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px 30px;
  line-height: 30px;
  text-align: center;
  color: #030a78;
  background-color: white;
  border-color:
    rgba(3, 10, 120, 1)
    rgba(43, 9, 144, 1)
    rgba(142, 7, 205, 1);
  margin-left: 10px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.text-container {
  width: 50%;
}

#image-one {
  width: 350px;
}

.logos {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-self: center;
  padding: 20px 0;
}

.landing {
  height: 80vh;
}

.bod {
	align-items: center;
	display: flex;
	height: 20vh;
  width: 2000px;
	justify-content: center;
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


// Styling
.slider {
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	
	&::before,
	&::after {
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
	.slide {
		height: 100px;
		width: 250px;
	}
}
